
<ul >
  <li *ngFor="let dance of dances" routerLink="/dances/{{dance._id}}" class="single-dance-item">
    <nz-card nzHoverable [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="{{dance.name | titlecase}}" nzDescription="{{dance.countryOfOrigin}}"></nz-card-meta>
      <button  (click)="onDeleteDance(dance._id,$event)" nz-button nzDanger>Delete</button>
    </nz-card>
    <ng-template #coverTemplate>
      <img class="dance-cover" alt="example" src="{{dance.imageurl}}" />
    </ng-template>
  </li>
</ul>



