li{
  cursor: pointer;
}
ul{
  display: flex;
  flex-direction: column;
}
button{
  background: #990000;
  color:white;
  cursor: pointer;
}
.single-dance-item{
  justify-content: space-between;
  display: flex;
  width: 400px;
  border: 0.3px dashed black;
  padding:10px;
  margin:10px 10px;
}
