ul{
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-right:30px;
  flex:1;

}
nav{
  display: flex;
  background: black;
  color: white;
  margin: 0;
  padding: 10px;

}
h1{
  color:white;
}
li{
  border-right: 1px solid white;
  padding:10px;
  cursor: pointer;
}



