<!--      <form id="search">-->
<!--        <input type="number" placeholder="latitude"/>-->
<!--        <input type="number" placeholder="longitude"/>-->
<!--        <button>Search</button>-->
<!--      </form>-->
<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Update {{fieldToBeUpdated}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <input placeholder="{{fieldToBeUpdated}}" [(ngModel)]="updatedValue"/>
  </ng-container>
</nz-modal>
<div id="main-container">
  <div id="dance-info">

    <div class="editable-field"><h1>{{dance.name | titlecase}} </h1><span (click)="editName()" class="edit-icon" nz-icon nzType="edit" nzTheme="outline"></span></div>
    <div class="editable-field"><h3> {{dance.countryOfOrigin}}</h3><span (click)="editCountry()" class="edit-icon" nz-icon nzType="edit" nzTheme="outline"></span></div>
    <img class="dance-image"  src="{{dance.imageurl}}">


  </div>
  <div id="events-area">

    <div id="event-list">
      <h1>Events </h1>
      <nz-table #basicTable [nzData]="dance.events">
        <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of dance.events">
          <td>{{event.name}}</td>
          <td>{{event.date |date}}</td>
          <td>
            <nz-divider nzType="vertical"></nz-divider>
            <button (click)="onDeleteEvent(event._id)" nz-button nzDanger>Delete</button>
          </td>
        </tr>
        </tbody>
      </nz-table>

    </div>

  </div>
  <form id="add-event-form" [formGroup]="eventForm" (ngSubmit)="onAddEvent()">
    <h2>Add A new Event</h2>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="name">Name of Dance</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input id="name" type="text" formControlName="name"/>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="country">Date</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input id="date" type="datetime-local" formControlName="date"/>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="country">Latitude</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input id="latitude"  nz-input type="number" formControlName="latitude"/>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="country">Longitude</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input id="longitude"  nz-input type="number" formControlName="longitude"/>
      </nz-form-control>
    </nz-form-item >

    <button nz-button nzType="primary">Add Event</button>
  </form>
</div>
