#add-event-form{
  display:flex;
  flex-direction: column;
  gap:10px;
}
#search{
  display: flex;
  gap:10px;
}
li{
  justify-content: space-between;
  display: flex;
  width: 400px;
  border: 0.3px dashed black;
  padding:10px;
  margin:10px 10px;

}
#events-area{
  display: flex;
  justify-content: space-around;
}
#events-area form{
  flex:0.4;
}
form button{
  width: 100px;
  text-align: center;
}
form input{
  width: 200px;
}
#dance-info{
margin:20px;
}
